@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: Roboto;
}

.grid {
  display: grid;
  grid-template-columns: 50px 1fr 2fr 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". Session . "
    ".  Session . "
    ". Live ."
    ". Live .";
}

.Session {
  background-color: gray;
  grid-area: Session;
  border-radius: 40px;
  height: 500px;
  width: 300px;
  margin: 15%;
  justify-self: center;
  display: grid;
  grid-template-columns: 20px 1fr 5px 1fr;
  grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
  grid-template-areas:
    ". heading heading heading "
    ".timer timer timer "
    ". exercise exercise exercise "
    ". reps . skip "
    ". end-session  end-session end-session";
}

.Heading {
  grid-area: heading;
  background-color: white;
  margin: auto;
  border-radius: 40px;
  color: black;
  font-size: 120%;
  height: 35px;
  text-align: center;

}

.workout-heading {
  margin: 5px;
}

.exercise-name {
  margin: 5px;
  font-weight: 50px;
  margin-bottom: 80px;
}

.timer {
  grid-area: timer;
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 200%;
  text-shadow: 2px 2px rgb(95, 93, 93);

}

.Exercise {
  grid-area: exercise;
  background-color: gray;
  align-self: center;
  justify-self: center;
  color: #FFA1A1;
  font-size: 175%;
}

.information {
  width: 15px;
}

.reps {
  grid-area: reps;
  background-color: white;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  color: black;
  text-align: center;
  line-height: 110px;
  width: 110px;
  height: 110px;
}

.currentRep {
  font-size: 50px;
  font-weight: 700;
}

.totalRep {
  font-size: 20px;
  color: gray;
}

.skip {
  grid-area: skip;
  background-color: gray;
  align-self: center;
  justify-self: left;
  width: 40px;
}

.end-session {
  grid-area: end-session;

  align-self: center;
  justify-self: center;
}

.Image {
  height: 5vh;
  width: 2vw;
  justify-self: center;
  align-self: center;
}

.Live {
  background-color: lightgray;
  grid-area: Live;
  margin: 6%;
  width: 60vw;
  height: 80vh;
}

.skip-button {
  background-color: white;
  color: black;
  width: 180%;
  height: 5vh;
  border: none;
  font-weight: 900;
  font-size: 120%;
}

.skip-button:hover {
  background-color: black;
  color: white;
  border: none;
}

.end-session-button {
  background-color: #ff850d;
  color: white;
  width: 17vw;
  height: 5vh;
  border: none;
  border-radius: 6px;
}

.end-session-button:hover {
  background-color: white;
  color: black;
}

.videoElement {

  width: 60vw;
  height: 80vh;
}

@media screen and (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: 50px 1fr 50px 2fr 50px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      ". Session . Live ."
      ". Session . Live .";
  }
}