* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: aliceblue;
    font-family: Roboto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas:
        "Session "
        "Session "
        "Live"
        "Live";

}



.Session {
    background-color: gray;
    grid-area: Session;
    border-radius: 40px;
    height: 75vh;
    width: 400px;
    margin: 5%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
    grid-template-areas:
        " heading  heading "
        "timer timer "
        " exercise  exercise "
        "reps skip "
        "end-session end-session";


}

.Heading {
    grid-area: heading;
    background-color: white;
    margin: auto;
    border-radius: 40px;
    color: black;
    font-size: 140%;
}

.timer {
    grid-area: timer;
    background-color: red;
    align-self: center;
    justify-self: center;
}



.Exercise {
    grid-area: exercise;
    background-color: pink;
    align-self: center;
    justify-self: center;
}


.reps {
    grid-area: reps;
    background-color: khaki;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    font-size: 400%;


}

.skip {
    grid-area: skip;
    background-color: gray;
    align-self: center;
    justify-self: center;

}

.end-session {
    grid-area: end-session;
    background-color: purple;
    align-self: center;
    justify-self: center;
}

.Image {
    height: 3vh;
    width: 3vw;
}

.Live {
    background-color: gray;
    grid-area: Live;
    margin: 5% auto;
    width: 70vw;
    /*margin:5%;*/
}

.skip-button {
    background-color: white;
    color: black;
    width: 180%;
    height: 5vh;
}

.skip-button:hover {
    background-color: black;
    color: white;

}

.end-session-button {
    background-color: orange;
    color: white;
    width: 20vw;
    height: 5vh;
}

.end-session-button:hover {
    background-color: white;
    color: black;

}


@media screen and (min-width: 1200px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "Session Live"
            "Session Live";

    }
}