@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: Roboto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 90px 1fr 1fr 2fr;
  justify-items: center;
  grid-template-areas:
    "Logo "
    " Heading "
    " Details "
    " Details "
    " Live "

}

/*Logo Div*/
.Logo {
  grid-area: Logo;
  justify-self: center;
}

.fitletics-logo {
  width: 300px;
  height: 170px;
  margin-top: 1%;
}

.Heading {
  background-color: White;
  grid-area: Heading;
  border-radius: 40px;
  color: black;
  font-size: 120%;
  width: 115px;
  height: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". Image workout-heading .";
}

.workout-heading {
  grid-area: workout-heading;
  justify-content: space-around;
  margin-top: 5px;
  margin-left: 10px;
}

.Image {
  grid-area: Image;
  height: 5vh;
  width: 25px;

}

.Details {
  background-color: #4F4F4F;
  grid-area: Details;
  border-radius: 40px;
  height: 370px;
  width: 380px;
  margin-top: 3%;
  margin-bottom: 5%;
  justify-self: center;
  align-items: center;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px;
  grid-template-rows: 1fr 25px 3fr 10px 1fr;
  grid-template-areas:
    ". one  one ."
    ". line line . "
    ". exercises exercises ."
    ". line-two line-two ."
    ". button button ."
  ;

}

.line {
  grid-area: line;
  width: 200px;
  height: 5px;
  border-bottom: 1px solid white;
  justify-self: center;

}

.line-two {
  grid-area: line-two;
  width: 200px;
  height: 5px;
  border-bottom: 1px solid white;
  justify-self: center;
  margin: 0;

}

.one {
  grid-area: one;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "timer difficulty "
    "timetaken  levels";
}


.time-taken {
  grid-area: timetaken;
  justify-self: center;
}


.clockimage {
  width: 45px;
  height: 50px;
  margin-bottom: 10px;
}

.levels {
  grid-area: levels;
  justify-self: center;
  font-size: 15px;
  letter-spacing: 1px;

}

.timer {
  grid-area: timer;
  justify-self: center;
}

.difficulty {
  grid-area: difficulty;
  justify-self: center;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 18px;
  letter-spacing: 1px;

}


/* Exercise div is grid */
.exercises {
  grid-area: exercises;
  display: grid;
  height: 150px;
  width: auto;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "number  exercisename  symbol";

}

/* Number of reps div starts here */

.number {
  grid-area: number;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "rep-one"
    "rep-two"
    "rep-three"
    "rep-four"
    "rep-five";
  justify-items: right;

}

.rep-one {
  grid-area: rep-one;

}

.rep-two {

  grid-area: rep-two;
}

.rep-three {
  grid-area: rep-three;
}

.rep-four {
  grid-area: rep-four;
}

.rep-five {
  grid-area: rep-five;
}

/* Number of rep div ends here */
/* exercise name div starts here */
.exercise-name {
  grid-area: exercisename;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "exercise-one"
    "exercise-two"
    "exercise-three"
    "exercise-four"
    "exercise-five";
  justify-items: center;
}

.exercise-one {
  grid-area: exercise-one;

}

.exercise-two {
  grid-area: exercise-two;

}

.exercise-three {
  grid-area: exercise-three;

}

.exercise-four {
  grid-area: exercise-four;

}

.exercise-five {
  grid-area: exercise-five;

}

/* exercise  name div ends here */
/* information symbol grid starts here */

.information-symbol {
  grid-area: symbol;
  width: 20px;
  display: grid;


}

/* information symbol grid ends here */
/* EXERCISE FLEX BOX ENDS HERE */

.button {
  grid-area: button;
  background-color: orange;
  color: aliceblue;
  width: 290px;
  height: 6vh;
  border-radius: 10px;

}

.button:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
}

.Live {
  background-color: lightgray;
  grid-area: Live;
  margin: 6%;
  width: 60vw;
  height: ;
}

.video {
  width: 60vw;
  height: 83vh;

}

@media screen and (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: 50px 1fr 2fr 50px;
    grid-template-rows: 170px 40px 1fr 1fr;
    grid-template-areas:
      ". Logo Live ."
      ". Heading  Live . "
      ". Details  Live ."
      ". Details  Live .";
  }
}