@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: Roboto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 0.05fr 1fr 2fr;
  justify-items: center;
  grid-template-areas:
    "Logo "
    " Heading "
    " Details "
    " Live ";
}

/*Logo Div*/
.Logo {
  grid-area: Logo;
  justify-self: center;

}

.fitletics-logo {
  width: 300px;
  height: 170px;
  margin-top: 1%;
}

.Heading {
  background-color: White;
  grid-area: Heading;
  border-radius: 40px;
  color: black;
  font-size: 120%;
  width: 115px;
  height: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". Image workout-heading .";
  margin-bottom: 10px;
}

.workout-heading {
  grid-area: workout-heading;
  justify-content: space-around;
  margin-top: 5px;
  margin-left: 10px;
}

.Image {
  grid-area: Image;
  height: 30px;
  width: 25px;
}

.Details {
  background-color: #4f4f4f;
  grid-area: Details;
  border-radius: 40px;
  height: 370px;
  width: 350px;
  margin-top: 3%;
  margin-bottom: 5%;
  justify-self: center;
  align-items: center;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px;
  grid-template-rows: 1fr 25px 3fr 10px 1fr;
  grid-template-areas:
    ". one  one ."
    ". line line . "
    ". exercises exercises ."
    ". line-two line-two ."
    ". button button .";
}

.line {
  grid-area: line;
  width: 200px;
  height: 5px;
  border-bottom: 1px solid white;
  justify-self: center;
}

.line-two {
  grid-area: line-two;
  width: 200px;
  height: 5px;
  border-bottom: 1px solid white;
  justify-self: center;
  margin: 0;
}

.one {
  grid-area: one;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "timer difficulty "
    "timetaken  levels";
}

.time-taken {
  grid-area: timetaken;
  justify-self: center;
}

.clockimage {
  width: 45px;
  height: 50px;
  margin-bottom: 10px;
}

.levels {
  grid-area: levels;
  justify-self: center;
  font-size: 15px;
  letter-spacing: 1px;
}

.timer {
  grid-area: timer;
  justify-self: center;
}

.difficulty {
  grid-area: difficulty;
  justify-self: center;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 18px;
  letter-spacing: 1px;
}

/* Exercise div is grid */
.exercises {
  grid-area: exercises;
  display: grid;
  height: 150px;
  width: auto;
  margin-left: 60px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "Rep-1"
    "Rep-2"
    "Rep-3"
    "Rep-4"
    "Rep-5"
    "Rep-6";
}

.Rep-1 {
  grid-area: Rep-1;
}

.Rep-2 {
  grid-area: Rep-2;
}

.Rep-3 {
  grid-area: Rep-3;
}

.Rep-4 {
  grid-area: Rep-4;
}

.Rep-5 {
  grid-area: Rep-5;
}

.Rep-6 {
  grid-area: Rep-6;
}

.information-symbol {
  width: 16px;
  height: 12px;
}


.button {
  grid-area: button;
  background-color: #ff850d;
  color: aliceblue;
  width: 260px;
  height: 35px;
  border-radius: 10px;
  border: none;
}

.button:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
  border: none;
}

.Live {
  background-color: lightgray;
  grid-area: Live;
  margin: 4%;
  width: 60vw;
  height: 560px;
}

.video {
  width: 60vw;
  height: 83vh;
}

@media screen and (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: 50px 1fr 2fr 50px;
    grid-template-rows: 170px 40px 1fr 1fr;
    grid-template-areas:
      ". Logo Live ."
      ". Heading  Live . "
      ". Details  Live ."
      ". Details  Live .";
  }
}