body {
<<<<<<< HEAD

    font-family: Roboto;
    font-size: 15px;
    line-height: 1;
    background-color: black;
    margin: 0;
    padding: 0;

}

.item1 {
    grid-area: Logo;
    background-color: orange;
}

.item2 {
    grid-area: details;
    background-color: Gray;

}

.item3 {
    grid-area: headings;
    background-color: white;
}

.item4 {
    grid-area: Live;
    background-color: lightgray;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'Logo Logo Logo  '
        'headings headings headings '
        'details details details ';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container-Two {
    display: grid;
    grid-template-areas:
        Live Live Live Live;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
=======
  font-family: Roboto;
  font-size: 15px;
  line-height: 1;
  background-color: black;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 760px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    grid-column-gap: 1em;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  grid-column-gap: 1em;
}

.wrapper > div {
  padding: 1em;
  background-color: darkblue;
}

.container-one {
  display: grid;
  grid-template-rows: 2fr 1fr 4fr;
  grid-row-gap: 1em;
  justify-self: center;
  grid-auto-rows: minmax(500px, auto);
}

.fitletics-logo {
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  padding: 0;
}

.workout-heading {
  background-color: white;
  border-radius: 40px;
  justify-self: center;
  justify-content: center;
  max-width: 100px;
  height: 40px;
  padding: 0;
}

.workout-details {
  padding: 0;
  background-color: darkgray;
  border-radius: 51px;
  justify-content: center;
  width: 400px;
}

.container-two {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.video {
  width: 80%;
  height: 75%;
  background-color: gray;
}
>>>>>>> 64e42235df377258e7324d41fbc51e880d6fd846
