body {

    font-family: Roboto;
    font-size: 15px;
    line-height: 1;
    background-color: black;
    margin: 0;
    padding: 0;

}

.item1 {
    grid-area: Logo;
    background-color: orange;
}

.item2 {
    grid-area: details;
    background-color: Gray;

}

.item3 {
    grid-area: headings;
    background-color: white;
}

.item4 {
    grid-area: Live;
    background-color: lightgray;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'Logo Logo Logo  '
        'headings headings headings '
        'details details details ';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container-Two {
    display: grid;
    grid-template-areas:
        Live Live Live Live;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}